* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
    font-weight: 400;
}

p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
}
.header__navbar {
    flex: 1;
}

.header__navbar_list {
    display: flex;
    list-style: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}
.header__navbar_item {
    padding: 0 20px;
}

.header__right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 150px;
    align-items: center;
}

.header__search-icon,
.header__user-icon, 
.header__cart_icon{
    font-size: 20px;
    font-weight: 300;
}
.header__cart {
    display: flex;
    justify-content: space-between;
    
}
.header__user {
    padding: 3px 15px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;

}
.header__cart_price {
    padding: 0 5px;
    font-size: 14px;
}

/* CONTAINER */
.home__product {
    margin-top: 30px;
}
.home__product-heading {
    text-align: center;
}
.home__product-heading-title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.home__product-heading-description {
    font-size: 16px;
}

.home__product-list {
    margin-top:  20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.home__product-item__img {
    width: 100%;
    margin-bottom: 10px;
}
.home__product-item__title {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

.home__product-item__price {
    display: flex;
    justify-content: center;
}
.home-product-item__price-old {
    font-size: 14px;
    color: gray;
}
.home-product-item__price-current {
    font-size: 16px;
    color: red;
    font-weight: 600;
    padding: 0 10px;
}
.home__product-total {
    margin-top: 30px;
    text-align: center;
}
.home__product-total-link {
    display: inline-block;
    font-size: 16px;
    padding: 10px 0;
    border: 2px solid #666;
}