* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
    font-weight: 400;
}

p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}
.header__navbar {
    flex: 1;
}

.header__navbar_list {
    display: flex;
    list-style: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}
.header__navbar_item {
    padding: 0 20px;
}

.header__right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 150px;
}

.header__search-icon {
    font-size: 20px;
    font-weight: 300;
}